body { 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #f5f6fa; 
  color: #eaeaea; 
} 

header { 
  background-color: #005f99; 
  color: white; 
  text-align: center; 
  padding: 20px; 
}

section.about {
  background-color: #dfe6e9; 
  color: #f8fafb;            
  font-size: 1.25em;          
  padding: 20px;              
  margin: 20px auto;         
  max-width: 800px;            
  border-radius: 10px;         
}
